<h1 class="pagetitle">New Session</h1>

<%= render 'form', entry: @entry %>

<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <%= link_to 'Back to All Entries', entries_path, class: "btn btn-info" %>
    </div>
  </div>
</div>