body {
  background-color: rgb(247, 246, 247);
}

label {
  font-weight: bold;
}

.index-width {
  width: 15rem;
}

#error_explanation {
  width: auto;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.custom-form-header {
  text-align: center;
}

.pagetitle {
  text-align: center;
  padding: 5px;
}

.field_with_errors input {
  border: 1px solid red;
  background-color: rgb(250, 150, 150);
}